<div class="register-page">
  <div class="register-container">
    <form class="register-form" (ngSubmit)="register()">
      <img class="cat" src="\assets\images\cat.png" alt="cat" />
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Username"
        required
      />
      <input
        type="text"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required
      />
      <input
        type="text"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />
      <input
        type="text"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
      />
      <button class="btn-register">Register</button>
    </form>
    <p class="errorMessage" *ngIf="error" style="color: crimson">{{ error }}</p>
  </div>
</div>
