<div class="login-page">
  <div class="login-container">
    <form class="login-form" (ngSubmit)="login()">
      <img class="cat" src="\assets\images\cat.png" alt="cat">
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          placeholder="Username"
          required
        />
        <input
          type="text"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          required
        />
      <button class="btn-login">Login</button>
    </form>
    <p class="register">
      Don't have an account?
      <a routerLink="/register">register</a>
    </p>

    <p class="errorMessage" *ngIf="error" style="color: crimson;">{{error}}</p>
  </div>
</div>
